<html lang="en">
<%- include("./partials/header.ejs") %>
<style>
    .letter {
        font-size: 3em;
        color: #f7f7f7;
        transition: color 1s ease;
        cursor: pointer;
    }

    .letter:hover {
        color: #000;
    }
</style>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
        <span class="letter">C</span>
        <span class="letter">O</span>
        <span class="letter">M</span>
        <span class="letter">I</span>
        <span class="letter">N</span>
        <span class="letter">G</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">S</span>
        <span class="letter">O</span>
        <span class="letter">O</span>
        <span class="letter">N</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">:)</span>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>