<nav class="container">
    <div>
        <a href="/">
            <h1>Anon<span class="hidden-text">ymous</span></h1>
        </a>
        <p>Create Disappearing Messages</p>
    </div>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Create</a></li>
    </ul>
</nav>